
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <script asp-src-include="lib/jquery/dist/*.min.js"></script>
    <script asp-src-include="jquery-validation/dist/jquery.*.min.js"></script>
    <script asp-src-include="lib/jquery-validation-unobtrusive/dist/jquery.*.min.js"></script>
</head>
<body>
    <div>
        <p>
            @Html.ActionLink("Home", "Index", "Home") <br />
            @Html.ActionLink("Add Book", "AddBook", "Admin") <br />
            @Html.ActionLink("Add Author", "AddAuthor", "Admin") <br />

        </p>
        @RenderBody()
    </div>
</body>
</html>
